body.toolbar .fullwidth{
	height: 100px !important;
	min-height: 100px !important;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

body .form-container, body.toolbar .data-container, body.toolbar .datos{
	display: block;
}
body.toolbar .form-container, body .data-container, body .datos{
	display: none;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.fullwidth{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.mini-logo{
	float: left;
}

.datos .container{
	padding: 20px;
}